
/* this implements the fonts that are gonna be used */
@font-face {
    font-family: megrin;
    src: url(font/Megrim-Regular.ttf);
  }

  @font-face{
      font-family: oswald;
      src:url(font/Oswald-VariableFont_wght.ttf);
  }

  /* this is for the nav bar consistant through out and the background */
header{
    grid-area:nav;
    font-family: megrin;
}
li.current{
    color: #b8bbbb;
    text-shadow: 2px 2px 5px #d3e2e2;
}

/* positions logo */
img.logo{
    float: left;
    width: 150px;
    height: 150px;
}

/* background for the navbar */
nav{
    color: black;
}

/* the actual menu for the nav bar */
ul{
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-bottom:20px;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 100px;
}

/* this highlights the currently hovered item with a glow in the nav */
a{
    color: #b8bbbb;
    text-decoration: none;
}

a:hover{
    color: #b8bbbb;
    text-shadow: 2px 2px 5px #d3e2e2;
}


/* the background */
body{
    
    margin:0px;
    padding:0px;
    background-attachment: fixed;
    background-image: url(images/BWM\ site\ background.png);
    display: grid;
    grid-template-columns: 50% 24% 26%;
    grid-template-rows:  auto;
    grid-template-areas:
    "nav    nav     nav"
    "header header  aside"
    "main   photo1  aside";
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* start of the index page contents */


p{

    font-family: oswald;
    margin:0px;
    padding:0px;
    font-size: 25px;
    color: #b8bbbb;
    background-color: rgba(0, 0, 0, 0.562);
}

figure{
  padding:0px;
}
div.main{
  grid-area: header;
  padding-left:1%;
  padding-bottom: 1%;
}

/* this is the text on the right side */
div.side{
  grid-area: aside;
  padding-right:3%;
  padding-left: 3%;
  
}

/* this is the video embed along with the text under it */
div.gorillaz{
    grid-area:main;
    padding: 2%;

}

iframe.gor{
  height:700px; 
  width:800px;
}

/* this is for the images on the right of the embed to give size and border */
img.spotlight{
    height: 30%;
    width: 100%;
    border:3px solid #b8bbbb;
    border-radius: 4px;


}

/* this controls the background and heigt of the backing box for the images */
div.panel{
    grid-area: photo1;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.562);
    padding-right: 15px;
    padding-left:10px;
    padding-top:10px;
    margin-top: 3%;
    width: 100%;
    height:100%;
}

/* this is the text under the embed */
figcaption.fig{
    width: 100%;
    height: 50px;
    padding:0px;
}

.fitVids-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.fitVids-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* below this is the start of the coming soon page */





 /* this does the slideshow thing */
* {
    box-sizing: border-box;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;

  }

  /* Hide the images by default */
  .mySlides {
    display: none;
    
  }


  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    stroke:black;
    stroke-width: 2px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }


  /* sets the sizes of the images in the slideshow */
  img.slideimage{
   
    width: 100%;
    height: 100%;
  }



  body.comingsoonpage{

    display: grid;
    grid-template-columns: 33% 42% auto;
    grid-template-rows:  10% 20% 60% auto;
    grid-template-areas:
    "nav    nav     nav"
    ".    head    ."
    "slide   slide       soonpanel"
    "belowsoon  belowsoon   soonpanel";
  
  }

  div.h1{
    grid-area: head;
    font-family: megrin;
    padding: 0px;
    margin: 0px;
    font-size: 2.5em;
    color: #b8bbbb;
  }

  div.container{
    grid-area:slide;
    width: 100%;
    height: 70%;
    padding-left: 1%;
  }

  /* this is the box with text on the right of the slideshow */
  div.soonpanel{
    grid-area:soonpanel;
    padding-left:2%;
}

/* this is the box of text below the slideshow */
div.belowsoon{
  grid-area:belowsoon;
  padding-top: 1%;
  padding-left: 1%;
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* this is the start of the contact us page */
/* this the the intial intro text for the page */

body.contact{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  15% 10% 20% 40% 55% ;
  grid-template-areas:
  "nav    nav     nav"
  "contactstart     contactstart     contactstart"
  "time   time    time"
  "map    map     map"
  "baynes baynes  .";
}

div.firstcontact{
  grid-area: contactstart;
}

p.contactstart{
  text-align: center;
  font-size: 30px;
  padding-left: 5%;
  padding-right:5%;
}

/* this is a list for the the opening times */
div.time{
  grid-area: time;
}

ul.opentimes{
  font-family: oswald;
  color: #b8bbbb;
}

/* these two bits are for the "office building" of the company */
div.baynes{
  grid-area:baynes;
}

figcaption.baynes{
  font-size: 30px;
  font-family: oswald;
  color: #b8bbbb;
}

div.map{
  grid-area:map;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* this is the start of the links page */
/* this is the intro heading of the links page */

body.link{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3% ;
  grid-template-rows:  5% 5% 50%;
  grid-template-areas:
  "nav    nav     nav    nav"
  ".      linkstart   .   ."
  "logos    logos  logos   .";
}

header{
  grid-area:nav;
  font-family: megrin;
}

p.links{
  
  text-align: center;
  font-size: 30px;
  
}
div.linkstart{
  grid-area: linkstart;
  margin:0px;
  padding: 0px;
}

/* this is the logos for the different streaming sites */
div.contactimages{
  grid-area:logos;
  margin-left: 20%;
}

#soundcloud{

height: 20%;
}

img.spotify{
  margin-left:150px;
  height: 20%;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body.videopage{
display: grid;
grid-template-columns: 60% 20% 17.5% auto;
grid-template-rows:  9% 30% 61%;
grid-template-areas:
"nav    nav     nav  nav"
"main   nextup  nextup  ."
"main   nextup  nextup  .";
}

/* this is the text under the embed */
figcaption.figvid{
  width: 100%;
  height: 50px;
}

figure{
  padding:0px;
  margin-left:1%;
  margin-right:1%;
  margin-top:0px;
}

/* this is the scroll panel on the right for next up videos */
div.nextup{
  grid-area:nextup;
  overflow:scroll;
  overflow-x: hidden;
  float: right;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.562);
  padding-left:10px;
  padding-top:10px;
  max-width: 100%;
  height:43%;
}

/* these are the thumbnails for the videos */
img.nextvideo{

    height: 50%;
    width: 100%;
    border:3px solid #b8bbbb;
    border-radius: 4px;
}

/* turns the cursor into a pointer over thumbnail */
img.nextvideo:hover{
  cursor: pointer;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



@media screen and (max-width: 1440px) {
  body{
    
    margin:0px;
    padding:0px;
    background-attachment: fixed;
    background-image: url(images/BWM\ site\ background.png);
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:  auto;
    grid-template-areas:
    "nav    nav     nav"
    "header header  aside"
    "main   photo1  aside";
}
img.spotlight{
  height: 30%;
  width: 100%;
  border:3px solid #b8bbbb;
  border-radius: 4px;
}

header{
  grid-area:nav;
  font-family: megrin;
}

/* this controls the background and heigt of the backing box for the images */
div.panel{
  grid-area: photo1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.562);
  padding-right: 15px;
  padding-left:10px;
  padding-top:10px;
  width: 100%;
  height:100%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body.link{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  auto;
  grid-template-areas:
  "nav    nav         nav    "
  ".      linkstart   .   "
  "logos  logos       logos   ";
}

p.links{
  
  text-align: center;
  font-size: 30px;
  
}
div.linkstart{
  grid-area: linkstart;
  margin:0px;
  padding-top: 5%;
}

#soundcloud{

  height: 10%;
  }
  
  img.spotify{
    margin-left:200px;
    height: 10%;
  }
  
  div.contactimages{
    grid-area:logos;
    margin-left: 7%;
  }


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


    body.videopage{
  display: grid;
  grid-template-columns: 60% 20% 17.5% 5%;
  grid-template-rows:  10% 30% auto;
  grid-template-areas:
  "nav    nav     nav  nav"
  "main   nextup  nextup  nextup"
  "main   nextup  nextup nextup";
  }
    
    /* this is the text under the embed */
    figcaption.figvid{
      width: 100%;
      height: 50px;
    }
    
    figure{
      padding:0px;
      margin-left:1%;
      margin-right:1%;
      margin-top:0px;
    }
    
    /* this is the scroll panel on the right for next up videos */
    div.nextup{
      grid-area:nextup;
      overflow:scroll;
      overflow-x: hidden;
      float: right;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.562);
      padding-left:10px;
      padding-top:10px;
      /* margin-right: 5%; */
      width: 100%;
      max-height:100%;
    }
    
    /* these are the thumbnails for the videos */
    img.nextvideo{
    
        height: 50%;
        width: 100%;
        margin-right: 5%;
        border:3px solid #b8bbbb;
        border-radius: 4px;
    }
    
    /* turns the cursor into a pointer over thumbnail */
    img.nextvideo:hover{
      cursor: pointer;
    }

    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


    body.comingsoonpage{

      display: grid;
      grid-template-columns: 33% 42% auto;
      grid-template-rows:  10% 20% 50% auto;
      grid-template-areas:
      "nav    nav     nav"
      ".    head    ."
      "slide   slide       soonpanel"
      "belowsoon  belowsoon   soonpanel";
    
    }


}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

@media screen and (max-width: 1024px) {
  body{
    
    margin:0px;
    padding:0px;
    background-attachment: fixed;
    background-image: url(images/BWM\ site\ background.png);
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:  20% 25% auto;
    grid-template-areas:
    "nav    nav     nav"
    "header header  aside"
    "main   photo1  aside";
}
p{

  font-family: oswald;
  margin:0px;
  padding:0px;
  font-size: 20px;
  color: #b8bbbb;
  background-color: rgba(0, 0, 0, 0.562);
}

img.spotlight{
  height: 30%;
  width: 100%;
  border:3px solid #b8bbbb;
  border-radius: 4px;
}

/* this controls the background and heigt of the backing box for the images */
div.panel{
  grid-area: photo1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.562);
  padding-right: 15px;
  padding-left:10px;
  padding-top:10px;
  width: 100%;
  height:100%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body.link{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  auto;
  grid-template-areas:
  "nav    nav         nav    "
  ".      linkstart   .   "
  "logos  logos       logos   ";
}

p.links{
  
  text-align: center;
  font-size: 30px;
  
}
div.linkstart{
  grid-area: linkstart;
  margin:0px;
  padding-top: 5%;
}


#apple{
  height: 6%;  
}

#google{
height: 6%;

}


#soundcloud{

  height: 6%;
  }
  
  img.spotify{
    margin-left:100px;
    height: 6%;
  }
  
  div.contactimages{
    grid-area:logos;
    margin-left: 13%;
  }

  li.current{
    color: #b8bbbb;
    text-shadow: 2px 2px 5px #d3e2e2;
}

/* positions logo */
img.logo{
    float: left;
    width: 150px;
    height: 150px;
}

/* background for the navbar */
nav{
    color: black;
}

/* the actual menu for the nav bar */
ul{
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-bottom:20px;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


body.contact{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  15% 15% 30% 40% 55% ;
  grid-template-areas:
  "nav    nav     nav"
  "contactstart     contactstart     contactstart"
  "time   time    time"
  "map    map     map"
  "baynes baynes  .";
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body.comingsoonpage{

  display: grid;
  grid-template-columns: 33% 42% auto;
  grid-template-rows:  10% 25% 40% auto;
  grid-template-areas:
  "nav    nav     nav"
  ".    head    ."
  "slide   slide       soonpanel"
  "belowsoon  belowsoon   soonpanel";

}


}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

@media screen and (max-width: 768px) {
  body{
    
    margin:0px;
    padding:0px;
    background-attachment: fixed;
    background-image: url(images/BWM\ site\ background.png);
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:  30% 23% auto;
    grid-template-areas:
    "nav    nav     nav"
    "header header  aside"
    "main   photo1  aside";
}
p{

  font-family: oswald;
  margin:0px;
  padding:0px;
  font-size: 15px;
  color: #b8bbbb;
  background-color: rgba(0, 0, 0, 0.562);
}


ul{
  background-color: rgba(0, 0, 0, 0.616);
  text-align: center;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  padding-bottom:20px;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-right: 10%;
}
img.spotlight{
  height: 30%;
  width: 100%;
  border:3px solid #b8bbbb;
  border-radius: 4px;
}

/* this controls the background and heigt of the backing box for the images */
div.panel{
  grid-area: photo1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.562);
  padding-right: 15px;
  padding-left:10px;
  padding-top:10px;
  width: 100%;
  height:100%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body.link{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  auto;
  grid-template-areas:
  "nav    nav         nav    "
  ".      linkstart   .   "
  "logos  logos       logos   ";
}

p.links{
  
  text-align: center;
  font-size: 25px;
  
}
div.linkstart{
  grid-area: linkstart;
  margin:0px;
  padding-top: 5%;
}


#apple{
  height: 5%;  
}

#google{
height: 5%;

}


#soundcloud{

  height: 5%;
  }
  
  img.spotify{
    margin-left:100px;
    height: 5%;
  }
  
  div.contactimages{
    grid-area:logos;
    margin-left: 5%;
  }

  li.current{
    color: #b8bbbb;
    text-shadow: 2px 2px 5px #d3e2e2;
}

/* positions logo */
img.logo{
    float: left;
    width: 150px;
    height: 150px;
}

/* background for the navbar */
nav{
    color: black;
}

/* the actual menu for the nav bar */
ul{
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-bottom:20px;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


body.contact{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:  20% 15% 35% 27% auto ;
  grid-template-areas:
  "nav    nav     nav"
  "contactstart     contactstart     contactstart"
  "time   time    time"
  "map    map     map"
  "baynes baynes  .";
}

ul.opentimes{
  font-family: oswald;
  color: #b8bbbb;
  font-size: 260%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body.videopage{
  display: grid;
  grid-template-columns: 60% 20% 17.5% auto;
  grid-template-rows:  10% 18% auto;
  grid-template-areas:
  "nav    nav     nav  nav"
  "main   main  main  ."
  "nextup   nextup  nextup  .";
  }

div.videoplayer{
  grid-area: main;
  margin-left: 1%;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body.comingsoonpage{

  display: grid;
  grid-template-columns: 33% 42% auto;
  grid-template-rows:  35% 16% auto;
  grid-template-areas:
  "nav    nav     nav"
  ".    head    ."
  "slide   slide       soonpanel"
  "belowsoon  belowsoon   soonpanel";

}

div.h1{
  grid-area: head;
  font-family: megrin;
  padding-left: 5%;
  margin: 0px;
  font-size: 1em;
  color: #b8bbbb;
}

div.soonpanel{
  grid-area:soonpanel;
  padding-left:2%;
  
}

/* this is the box of text below the slideshow */
div.belowsoon{
grid-area:belowsoon;
padding-top: 1%;
padding-left: 1%;
width: 100%;
}


}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


@media screen and (max-width: 425px) {
  body{
    
    margin:0px;
    padding:0px;
    background-attachment: fixed;
    background-image: url(images/BWM\ site\ background.png);
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows:  32% auto;
    grid-template-areas:
    "nav"
    "header"
    "main"
    "photo1";
}
p{

  font-family: oswald;
  margin:0px;
  padding:0px;
  font-size: 15px;
  color: #b8bbbb;
  background-color: rgba(0, 0, 0, 0.562);
}

div.side{
  display: none;
  padding-right:3%;
  padding-left: 3%;
}

img.spotlight{
  height: 30%;
  width: 100%;
  border:3px solid #b8bbbb;
  border-radius: 4px;
}

ul{
  background-color: rgba(0, 0, 0, 0.616);
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  padding-bottom:20px;
  list-style-type: none;
}
li{
  display: inline-block;
  margin-left: 60px;
}


img.logo{
  margin-left: 30%;
  width: 150px;
  height: 150px;
}

/* this controls the background and heigt of the backing box for the images */
div.panel{
  grid-area: photo1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.562);
  padding-right: 15px;
  padding-left:10px;
  padding-top:10px;
  width: 100%;
  height:100%;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


body.link{
  display: grid;
  grid-template-columns: 115%;
  grid-template-rows:  auto;
  grid-template-areas:
  "nav"
  "linkstart"
  "logos";
}

p.links{
  
  text-align: center;
  font-size: 25px;
  
}
div.linkstart{
  grid-area: linkstart;
  margin:0px;
  padding-top: 5%;
}


#apple{
  height: 7%; 
  margin-left: 10% 
}

#google{
height: 5%;
margin-left: -5%;
}


#soundcloud{

  height: 7%;
  margin-left: 12%;
  }
  
  img.spotify{
    height: 7%;
    margin-left: 25%;
  }
  
  div.contactimages{
    grid-area:logos;
    justify-content: left;
    margin: 0px;
  }

  li.current{
    color: #b8bbbb;
    text-shadow: 2px 2px 5px #d3e2e2;
}

/* positions logo */
img.logo{
    float: left;
    width: 150px;
    height: 150px;
}

/* background for the navbar */
nav{
    color: black;
}

/* the actual menu for the nav bar */
ul{
    background-color: rgba(0, 0, 0, 0.616);
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-bottom:20px;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


body.contact{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows:   auto ;
  grid-template-areas:
  "nav    nav     nav"
  "contactstart     contactstart     contactstart"
  "time   time    time"
  "map    map     map"
  "baynes baynes  .";
}

ul.opentimes{
  font-family: oswald;
  color: #b8bbbb;
  font-size: 180%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body.videopage{
  display: grid;
  grid-template-columns: 60% 20% 17.5% auto;
  grid-template-rows:  30% 22% auto;
  grid-template-areas:
  "nav    nav     nav  nav"
  "main   main  main  ."
  "nextup   nextup  nextup  .";
  }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  body.comingsoonpage{

    display: grid;
    grid-template-columns: 33% 42% auto;
    grid-template-rows:   auto;
    grid-template-areas:
    "nav    nav     nav"
    ".    head    ."
    "slide   slide       slide"
    "belowsoon  belowsoon   belowsoon";
  
  }
  
  div.h1{
    grid-area: head;
    font-family: megrin;
    padding-left: 5%;
    margin: 0px;
    font-size: 1em;
    color: #b8bbbb;
  }
  
  div.soonpanel{
    grid-area:soonpanel;
    padding-left:2%;
    display: none;
    
  }
  
  /* this is the box of text below the slideshow */
  div.belowsoon{
  grid-area:belowsoon;
  padding-top: 1%;
  padding-left: 1%;
  width: 100%;
  }
  


}


